body {
  background-color: #000000 !important;
  color: #FF0F0F !important;
}
html {
  background-color: #000000 !important;
}
a {
  color: #268bd2 !important;
}
div.md {
  color: #40DE0B !important;
}
blockquote,
pre {
  background-color: #000000 !important;
  color: #839496 !important;
}
.repository-sidebar {
  background-color: #000000 !important;
}
.side .usertext-body .md {
  background-color: #000000 !important;
}
.side {
  background-color: #000000 !important;
}
.sidebox .spacer {
  background-color: #000000 !important;
  color: #93a1a1 !important;
}
.link .usertext .md {
  background-color: #000000 !important;
}
.markdown-body code,
.markdown-body table * code,
.markdown-body pre,
.markdown-body table * pre {
  background-color: #073642 !important;
}
